@property --progress-value {
    syntax: "<integer>";
    inherits: false;
    initial-value: 0;
  }
  @-webkit-keyframes html-progress {
    to {
      --progress-value: 92;
    }
  }
  @keyframes html-progress {
    to {
      --progress-value: 92;
    }
  }
  @-webkit-keyframes css-progress {
    to {
      --progress-value: 87;
    }
  }
  @keyframes css-progress {
    to {
      --progress-value: 87;
    }
  }
  @-webkit-keyframes js-progress {
    to {
      --progress-value: 73;
    }
  }
  @keyframes js-progress {
    to {
      --progress-value: 73;
    }
  }
  .progress-bar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* to center the percentage value */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progress-bar::before {
    counter-reset: percentage var(--progress-value);
    content: counter(percentage) "%";
  }
  
  .html {
    background: radial-gradient(closest-side, white 79%, transparent 80% 100%), conic-gradient(hotpink calc(var(--progress-value) * 1%), rgb(192, 227, 255) 0);
    -webkit-animation: html-progress 2s 1 forwards;
            animation: html-progress 2s 1 forwards;
  }
  
  .html::before {
    -webkit-animation: html-progress 2s 1 forwards;
            animation: html-progress 2s 1 forwards;
  }
  
  .css {
    background: radial-gradient(closest-side, white 79%, transparent 80% 100%, white 0), conic-gradient(hotpink calc(var(--progress-value) * 1%), pink 0);
    -webkit-animation: css-progress 2s 1 forwards;
            animation: css-progress 2s 1 forwards;
  }
  
  .css::before {
    -webkit-animation: css-progress 2s 1 forwards;
            animation: css-progress 2s 1 forwards;
  }
  
  .js {
    background: radial-gradient(closest-side, white 79%, transparent 80% 100%, white 0), conic-gradient(hotpink calc(var(--progress-value) * 1%), pink 0);
    -webkit-animation: js-progress 2s 1 forwards;
            animation: js-progress 2s 1 forwards;
  }
  
  .js::before {
    -webkit-animation: js-progress 2s 1 forwards;
            animation: js-progress 2s 1 forwards;
  }
  
  /* body {
    font-family: -apple-system, system-ui, Helvetica, Arial, sans-serif;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 600px;
  } */
  
  h2 {
    text-align: center;
  }
  
  progress {
    visibility: hidden;
    width: 0;
  height:0;
  }
  